.map_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 750px;
    border-bottom: 2px solid #ccc;
}

#map {
    width: 65%;
    min-height: 100%;
    height: 100%;
    border-right: 2px solid #ccc;
}

.path_data_container {
    margin: 0 auto;
    align-items: center;
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.path_data_container > div {
    border-bottom: 2px solid #ccc;
}

.path_data_container:nth-child(2) {
    border-bottom: none;
}

.path_data_container>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.path_select_container {
    height: 10%;
}

.path_select_container > button {
    margin-top: 5%;
    width: 70%;
    height: 55%;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.gps_data_container {
    height: 15%;
}

.node_request_btn_container {
    height: calc(100% - 25.5%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom: none;
}

.node_request_title {
    align-items: center;
    width: 100%;
    height: 5%;
    margin-top: 2%;
}

.node_request_title > p {
    font-size: 20px;
    font-weight: bold;
}

.node_btn_request {
    width: 70%;
    height: 15%;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
    cursor: pointer;
}

.node_btn_request:hover {
    background-color: #ccc;
}

.node_btn_request > img {
    width: 35px;
    height: 35px;
    margin-right: 4%;
}

.route_btn_request:hover {
    background-color: #ccc;
}