.map_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 750px;
}

#map {
    width: 80%;
    height: 100%;
}

.data_container {
    margin: 0 auto;
    align-items: center;
    width: 20%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.data_container>div:nth-child(1), .data_container>div:nth-child(2), .data_container>div:nth-child(3) {
    border-bottom: 2px solid #ccc;
}

.data_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3%;
}

.data_data {
    margin-top: 2%;
}

.data_container>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.gps_data_container {
    height: 20%;
}

.odom_eular_data_container {
    height: 9%;
}

.route_status_data_container {
    height: 15%;
}

.route_status_current_route_container {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.route_request_btn_container {
    height: calc(100% - 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom: none;
}

.route_btn_request {
    width: 50%;
    height: 20%;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
}

.route_btn_request:hover {
    background-color: #ccc;
}

.route_btn_can_init {
    background-color: black;
    color: white;
}

.route_btn_emergency_stop {
    background-color: red;
}

.route_btn_emergency_resume {
    background-color: green;
}

.iw_inner {
    background-color: #fff;
    width: 150px;
    font-size: 15px;
}

@media screen and (min-width: 800px) and (min-height: 600px) and (max-width: 1023px) and (max-height: 767px) {
    .map_container {
        height: 420px;
    }
    .data_container {
        font-size: 12px;
    }
    .gps_data_container {
        font-size: 10px;
    }
    .odom_eular_data_container {
        font-size: 10px;
    }
    .route_status_data_container {
        font-size: 10px;
    }
    .route_request_btn_container {
        height: calc(100% - 58%);
    }
    .route_btn_request {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1279px) and (max-height: 799px) {
    .map_container {
        height: 520px;
    }
    .data_container {
        font-size: 12px;
    }
    .route_request_btn_container {
        height: calc(100% - 57%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 800px) and (max-width: 1439px) and (max-height: 899px) {
    .map_container {
        height: 570px;
    }
    .data_container {
        font-size: 13px;
    }
    .route_request_btn_container {
        height: calc(100% - 57%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1500px) and (min-height: 700px) and (max-height: 899px) {
    .map_container {
        height: 550px;
    }
    .data_container {
        font-size: 12px;
    }
    .route_request_btn_container {
        height: calc(100% - 59%);
    }
    .route_btn_request {
        font-size: 12px;
    }
}

@media screen and (min-width: 1440px) and (min-height: 900px) and (max-width: 1599px) and (max-height: 999px) {
    .map_container {
        height: 650px;
    }
    .data_container {
        font-size: 13px;
    }
    .route_request_btn_container {
        height: calc(100% - 56%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1600px) and (min-height: 900px) and (max-width: 1799px) and (max-height: 999px){
    .map_container {
        height: 650px;
    }
    .data_container {
        font-size: 13px;
    }
    .route_request_btn_container {
        height: calc(100% - 56%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1799px) and (min-height: 1000px) and (max-width: 2559px) and (max-height: 1079px) {
    .map_container {
        height: 750px;
    }
}