.map_container {
    display: flex;
    justify-content: space-between;
    width: 1870px;
    height: 750px;
    border-bottom: 2px solid #ccc;
}

#map {
    width: 1600px;
    height: 100%;
}

.gps_data_container {
    margin: 0 auto;
    align-items: center;
    width: 320px;
    height: 100px;
    border-bottom: 2px solid #ccc;
}

.move_btn_ul {
    width: 350px;
    position: relative;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: block;
    height: 30px;
    box-sizing: content-box !important;
    border-right: 1px solid rgb(68, 68, 68);
}

.move_btn_li {
    position: relative;
    z-index: 1;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-width: 1px 0px 1px 1px;
    border-style: solid none solid solid;
    border-color: rgb(68, 68, 68) currentcolor rgb(68, 68, 68) rgb(68, 68, 68);
    border-image: none;
    box-sizing: content-box !important;
}

.move_btn_li {
    background-color: white; /* 기본 배경색 */
}

.move_btn_ul.active {
    background-color: blue; /* currentMode가 해당하는 경우 배경색을 파란색으로 변경 */
}

.move_btn {
    margin: 0px;
    padding: 0px 7px;
    display: block;
    box-sizing: content-box !important;
    height: 26px;
    line-height: 26px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    letter-spacing: -1px;
    font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, "나눔고딕", Dotum, "돋움", sans-serif;
}

.iw_inner {
    background-color: #fff;
    width: 150px;
    font-size: 15px;
}