.map_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
}

#map {
    width: 65%;
    min-height: 800px;
    height: 100%;
    border-right: 2px solid #ccc;
}

.path_info_container {
    width: 20%;
    height: 100%;
    border-right: 2px solid #ccc;
    overflow: auto;
}

.path_info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.path_info_container > div:last-child {
    border-bottom: none;
}

.node_icon {
    width: 40%;
    height: 40%;
}

.node_info {
    font-size: 20px;
    font-weight: bold;
}

.path_direction_content, .path_heading_content {
    font-size: 15px;
    font-weight: bold;
}

.data_container {
    margin: 0 auto;
    align-items: center;
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.data_container>div:nth-child(1), .data_container>div:nth-child(2) {
    border-bottom: 2px solid #ccc;
}

.data_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3%;
}

.data_data {
    margin-top: 2%;
}

.data_container>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.gps_data_container {
    height: 13%;
}

.odom_eular_data_container {
    height: 8%;
}

.route_request_btn_container {
    height: calc(100% - 25%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom: none;
}

.route_btn_request {
    margin-top: 5%;
    width: 70%;
    height: 20%;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.route_btn_request > img {
    width: 35px;
    height: 35px;
    margin-right: 4%;
}

.route_btn_request:hover {
    background-color: #ccc;
}

.route_btn_path_select {
    background-color: green;
    color: white;
}

.route_btn_mission_select {
    background-color: black;
    color: white;
}

.route_btn_path_renew {
    background-color: blue;
    color: white;
}

.route_btn_path_cancel {
    background-color: yellow;
    color: black;
}

.route_btn_emergency_stop {
    background-color: red;
}

.node_info_window {
    background-color: #fff;
    width: 125px;
    font-size: 13px;
}

.route_path_select_modal {
    width: 90%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 2px solid #ccc;
}

.route_path_select_modal_container {
    width: 100%;
    height: 100%;
}

.route_path_select_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7%;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.route_path_select_title > img {
    width: 35px;
    height: 35px;
    margin-right: 1%;
}

.route_path_select_title > p {
    font-size: 20px;
    font-weight: bold;
}

.route_switch_container {
    position: absolute;
    margin-top: 1%;
    margin-left: 0.5%;
    top: 10px; /* 모달의 좌상단으로 위치 조정 */
    left: 10px; /* 모달의 좌상단으로 위치 조정 */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.route_switch_title {
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.route_switch_button_container {
    display: flex;
    align-items: center;
    position: relative;
}

.route_switch_button {
    width: 50px;
    height: 24px;
    border-radius: 30px;
    background-color: red;
    border: solid 2px #ccc;
    transition: 0.3s;
}

.route_switch_checked.route_switch_button {
    background-color: green;
}

.route_switch_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(255, 254, 255);
    transition: 0.3s;
    border: solid 2px #ccc;
    left: 2px;
}

.route_switch_checked.route_switch_circle {
    left: 26px;
}

.route_path_select_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.route_path_select_close_btn > img {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.route_path_select_close_btn > img:hover {
    background-color: #ccc;
}

@media screen and (min-width: 800px) and (min-height: 600px) and (max-width: 1023px) and (max-height: 767px) {
    .map_container {
        height: 450px;
    }
    #map {
        min-height: 420px;
    }
    .node_info {
        font-size: 15px;
    }
    .path_direction_content, .path_heading_content {
        font-size: 13px;
    }
    .data_container {
        font-size: 12px;
    }
    .gps_data_container {
        font-size: 10px;
    }
    .odom_eular_data_container {
        font-size: 10px;
    }
    .route_status_data_container {
        font-size: 10px;
    }
    .route_request_btn_container {
        height: calc(100% - 27%);
    }
    .route_btn_request {
        font-size: 12px;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1179px) and (max-height: 819px) {
    .map_container {
        height: 680px;
    }
    #map {
        min-height: 680px;
    }
    .node_info {
        font-size: 15px;
    }
    .path_direction_content, .path_heading_content {
        font-size: 13px;
    }
    .data_container {
        font-size: 12px;
    }
    .route_request_btn_container {
        height: calc(100% - 27%);
    }
    .route_btn_request {
        width: 85%;
        font-size: 13px;
    }
}

@media screen and (min-width: 1180px) and (min-height: 820px) and (max-width: 1279px) and (max-height: 899px) {
    .map_container {
        height: 735px;
    }
    #map {
        min-height: 570px;
    }
    .node_info {
        font-size: 13px;
    }
    .path_direction_content, .path_heading_content {
        font-size: 13px;
    }
    .data_container {
        font-size: 12px;
    }
    .route_request_btn_container {
        height: calc(100% - 27%);
    }
    .route_btn_request {
        width: 65%;
        font-size: 13px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 899px) and (max-width: 1439px) and (max-height: 899px) {
    .map_container {
        height: 800px;
    }
    #map {
        min-height: 630px;
    }
    .data_container {
        font-size: 13px;
    }
    .route_request_btn_container {
        height: calc(100% - 27%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1500px) and (min-height: 700px) and (max-height: 899px) {
    .map_container {
        height: 550px;
    }
    #map {
        min-height: 550px;
    }
    .data_container {
        font-size: 12px;
    }
    .route_request_btn_container {
        height: calc(100% - 59%);
    }
    .route_btn_request {
        font-size: 12px;
    }
}

@media screen and (min-width: 1440px) and (min-height: 900px) and (max-width: 1599px) and (max-height: 999px) {
    .map_container {
        height: 800px;
    }
    #map {
        min-height: 650px;
    }
    .data_container {
        font-size: 13px;
    }
    .route_request_btn_container {
        height: calc(100% - 25%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1600px) and (min-height: 900px) and (max-width: 1799px) and (max-height: 999px){
    .map_container {
        height: 800px;
    }
    #map {
        min-height: 650px;
    }
    .data_container {
        font-size: 13px;
    }
    .route_request_btn_container {
        height: calc(100% - 25%);
    }
    .route_btn_request {
        font-size: 13px;
    }
}

@media screen and (min-width: 1799px) and (min-height: 800px) and (max-width: 1919px) and (max-height: 952px) {
    .map_container {
        height: 800px;
    }
    #map {
        min-height: 650px;
    }
}

@media screen and (min-width: 1920px) and (min-height: 953px) and (max-width: 2559px) and (max-height: 1079px) {
    .map_container {
        height: 850px;
    }
    #map {
        min-height: 850px;
    }
}