.map_container {
    display: flex;
    justify-content: space-between;
    width: 1857px;
    height: 750px;
    border-bottom: 2px solid #ccc;
}

#map {
    width: 1600px;
    height: 100%;
}

.data_container {
    margin: 0 auto;
    align-items: center;
    width: 320px;
    height: 750px;
    flex-direction: column;
    justify-content: space-between;
}

.data_container > div {
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
}

.data_container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.gps_data_container {
    height: 120px;
}

.odom_eular_data_container {
    height: 100px;
}

.route_status_data_container {
    height: 150px;
}

.route_status_current_route {
    font-size: 20px;
    font-weight: bold;
}

.route_request_btn_container {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.route_btn_request {
    width: 153px;
    height: 65px;
    border-radius: 50px;
    font-size: 17px;
    background-color: #fff;
    font-weight: bold;
}

.route_btn_request:hover {
    background-color: #ccc;
}

.route_btn_can_init {
    background-color: black;
    color: white;
}

.route_btn_emergency_stop {
    background-color: red;
}

.route_btn_emergency_resume {
    background-color: green;
}

.iw_inner {
    background-color: #fff;
    width: 150px;
    font-size: 15px;
}