.bluespace_request_btn_container {
    border-top: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 1857px;
    height: 100%;
}

.bluespace_btn_request {
    margin-top: 3%;
    width: 153px;
    height: 65px;
    border-radius: 50px;
    font-size: 17px;
    background-color: #fff;
    font-weight: bold;
}

.bluespace_btn_request:hover {
    background-color: #ccc;
}

.bluespace_btn_emergency_stop {
    background-color: red;
}

.bluespace_btn_emergency_resume {
    background-color: green;
}