.bluespace_request_btn_container {
    border-top: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: calc(100% - 750px);
}

.bluespace_btn_request {
    margin-right: 1%;
    border-radius: 50px;
    width: 15%;
    font-size: 17px;
    background-color: #fff;
    font-weight: bold;
}

.bluespace_btn_request:hover {
    background-color: #ccc;
}

@media screen and (min-width: 800px) and (min-height: 600px) and (max-width: 1023px) and (max-height: 766px) {
    .bluespace_btn_request {
        margin-top: 1%;
        font-size: 12px;
        height: 30px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1279px) and (max-height: 799px) {
    .bluespace_btn_request {
        margin-top: 2%;
        font-size: 12px;
        height: 45px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 800px) and (max-width: 1439px) and (max-height: 899px) {
    .bluespace_btn_request {
        margin-top: 1.5%;
        font-size: 13px;
        height: 45px;
    }
}

@media screen and (min-width: 1440px) and (min-height: 900px) and (max-width: 1599px) and (max-height: 999px) {
    .bluespace_btn_request {
        margin-top: 1.5%;
        font-size: 13px;
        height: 50px;
    }
}

@media screen and (min-width: 1500px) and (min-height: 700px) and (max-height: 899px) {
    .bluespace_btn_request {
        margin-top: 2%;
        width: 10%;
        font-size: 12px;
        height: 45px;
    }
}

@media screen and (min-width: 1600px) and (min-height: 900px) and (max-width: 1799px) and (max-height: 999px) {
    .bluespace_btn_request {
        margin-top: 1.5%;
        font-size: 13px;
        height: 50px;
    }
}

@media screen and (min-width: 1799px) and (min-height: 900px) and (max-width: 2559px) and (max-height: 1079px) {
    .bluespace_btn_request {
        margin-top: 2.5%;
        width: 190px;
        height: 65px;
    }
}