.top_component_container {
    width: 1857px;
    border-bottom: 2px solid #ccc;
}

@media all and (max-width: 1920px) {
    .dash_board_container {
        width: 1857px;
        height: 870px;
        /* width: 1775px;
        height: 870px; */
    }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
    .dash_board_container {
        width: 2560px;
        height: 1080px;
    }
}

@media all and (min-width: 2561px) {
    .dash_board_container {
        width: 100%;
        height: 100%;
    }
}