.data_board_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_component_container {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

@media all and (max-width: 1920px) {
    .data_board_container {
        width: 1920px;
        height: 870px;
        /* width: 1775px;
        height: 870px; */
    }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
    .data_board_container {
        width: 2560px;
        height: 1080px;
    }
}

@media all and (min-width: 2561px) {
    .data_board_container {
        width: 100%;
        height: 100%;
    }
}