.path_map_components {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.path_map_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ccc;
}

#path_map {
    width: 70%;
    min-height: 600px;
    height: 100%;
    border-right: 2px solid #ccc;
}

.node_info_window {
    background-color: #fff;
    width: 125px;
    font-size: 13px;
}

.path_list_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 600px;
}

.path_list_title {
    font-size: 20px;
    font-weight: bold;
}

.path_list {
    margin-top: 5%;
    width: 90%;
    overflow: auto;
}

.path_list_element {
    border: 2px solid #ccc;
    border-bottom: none;
    list-style: none;
    width: 90%;
    height: 13%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path_list_element:last-child {
    border-bottom: 2px solid #ccc;
}

.path_list_element:hover {
    background-color: #ccc;
}

.path_list_element_index {
    width: 10%;
    height: 100%;
    border-right: 2px solid #ccc;
    color: white;
    background-color: #4f33ff;
    font-size: 25px;
    font-weight: bold;
}

.path_list_element_name {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.path_util_container {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.path_controller_cotainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.path_list_info_node {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    width: 90%;
}

.path_progress_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    flex: 1;
}

.path_progress_slider {
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.path_progress_cylinder {
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    z-index: 2;
}

.path_progress_cylinder.active {
    background: #ff0000;
}

.path_progress_marker_info {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.path_progress_marker_info > img {
    width: 35px;
    height: 35px;
}

.path_progress_marker_info > p {
    font-size: 15px;
    font-weight: bold;
}

.path_progress_cylinder_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #007bff;
}

.path_progress_horizontal_bar {
    position: absolute;
    height: 2px;
    background: black;
    z-index: 1;
}

.path_progress_controller_container {
    width: 100%;
}

.path_progress_image {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    top: -25px;
    cursor: pointer;
}

.path_progress_slider::before {
    left: calc(25% * var(--index));
}

.path_progress_info {
    text-align: center;
}

.path_command_btn_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    width: 20%;
}

.path_command_btn_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    width: 100%;
}

.path_command_btn {
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 170px;
    height: 50px;
}

.path_command_btn:hover {
    background-color: #ccc;
}

.path_command_btn > img {
    width: 35px;
    height: 35px;
    margin-right: 5%;
}

.source_change_btn, .goal_change_btn {
    background-color: #fff;
    font-size: 16px;
}

.goal_change_btn > img {
    rotate: 180deg;
}

.renew_path_btn {
    background-color: blue;
    color: white;
}

.command_path_btn {
    background-color: green;
    color: white;
}

@media screen and (min-width: 800px) and (min-height: 600px) and (max-width: 1023px) and (max-height: 767px) {

}

@media screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1179px) and (max-height: 819px) {
    .path_map_container {
        height: 460px;
    }

    #path_map {
        min-height: 460px;
    }

    .path_progress_slider {
        width: 93%;
    }

    .path_list_container {
        height: 460px;
    }

    .path_command_btn_container {
        width: 24%;
    }

    .path_command_btn {
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width: 1180px) and (min-height: 820px) and (max-width: 1279px) and (max-height: 899px) {
    .path_map_container {
        height: 500px;
    }

    #path_map {
        min-height: 500px;
    }

    .path_progress_slider {
        width: 89%;
    }

    .path_list_container {
        height: 500px;
    }

    .path_command_btn_container {
        width: 29%;
    }

    .path_command_btn {
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 899px) and (max-width: 1439px) and (max-height: 899px) {
    .path_map_container {
        height: 550px;
    }

    #path_map {
        min-height: 550px;
    }

    .path_progress_slider {
        width: 89%;
    }

    .path_list_container {
        height: 550px;
    }

    .path_command_btn_container {
        width: 27%;
    }

    .path_command_btn {
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width: 1500px) and (min-height: 700px) and (max-height: 899px) {
    
}

@media screen and (min-width: 1440px) and (min-height: 900px) and (max-width: 1599px) and (max-height: 999px) {
    .path_map_container {
        height: 550px;
    }

    #path_map {
        min-height: 550px;
    }

    .path_progress_slider {
        width: 89%;
    }

    .path_list_container {
        height: 550px;
    }

    .path_command_btn_container {
        width: 25%;
    }

    .path_command_btn {
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width: 1600px) and (min-height: 900px) and (max-width: 1799px) and (max-height: 999px){
    .path_map_container {
        height: 550px;
    }

    #path_map {
        min-height: 550px;
    }

    .path_progress_slider {
        width: 89%;
    }

    .path_list_container {
        height: 550px;
    }

    .path_command_btn_container {
        width: 25%;
    }

    .path_command_btn {
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width: 1799px) and (min-height: 800px) and (max-width: 1919px) and (max-height: 952px) {

}

@media screen and (min-width: 1920px) and (min-height: 953px) and (max-width: 2559px) and (max-height: 1079px) {

}