.response_callback_grid_container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
}

.grid_item {
    border: 1px solid #ccc;
    padding: 10px;
}

.grid_item_title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.grid_item_data_container {
    overflow: auto;
}

.grid_item_data {
    white-space: pre-wrap;
    text-align: left;
    font-size: 13px;
}
