.response_callback_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    /* border: 2px solid #ccc; */
    overflow: auto;
    width: 1455px;
    height: 870px;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 1920px) {
    .response_callback_grid_container {
        width: 1455px;
    }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
    .response_callback_grid_container {
        width: calc(2560px - 320px);
        height: 1080px;
    }
}

@media all and (min-width: 2561px) {
    .response_callback_grid_container {
        width: 100%;
        height: 100%;
    }
}

.grid_item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
    transition: height 0.3s ease-in-out;
}

.grid_item.rbt_status.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.rbt_status.expanded {
    height: auto;
}

.grid_item.service_status.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.service_status.expanded {
    height: auto;
}

.grid_item.error_report.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.error_report.expanded {
    height: auto;
}

.grid_item.control_report.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.control_report.expanded {
    height: auto;
}

.grid_item.graph_list.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.graph_list.expanded {
    height: auto;
}

.grid_item.obstacle_detect.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.obstacle_detect.expanded {
    height: auto;
}

.grid_item.lidar_signal.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.lidar_signal.expanded {
    height: auto;
}


.grid_item_data_container {
    width: 350px;
}

.grid_item_title {
    font-size: 20px;
    margin-top: -2%;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.grid_item_data {
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid_item.dummy_publish.collapsed {
    height: 60px;
    overflow: hidden;
}

.grid_item.dummy_publish.expanded {
    height: auto;
}