.top_components {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top_logo {
    margin: 0 auto;
}

.top_logo_title {
    font-size: 24px;
}

.top_logo_title_link {
    text-decoration: none;
    color: black;
}

.top_dropdown_toggle_label {
    cursor: pointer;
    position: absolute;
    font-size: 24px;
    margin-left: 20px;
}