.top_components ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: calc(100%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_dropdown_menu {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

.top_dropdown_menu:hover {
    background-color: #f0f0f0;
}

.top_dropdown_menu_item {
    margin-top: 3%;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}